



.cont1{
    background-color: rgb(47, 47, 77);
    max-width: 335px;
    height: 625px;
    border: grey 1px solid;
    border-radius: 10px;
    margin: auto;
    margin-top:20px;
}

.cont2{
    background-color: rgb(47, 47, 77);
    border-radius: 10px;
    border: 1px white solid;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn_trad{
    background-color: rgb(125, 118, 118) ;
    width: 60px;
    height: 30px;
}

.btn_p92{
    background-color: rgb(181, 157, 128) ;
    width: 60px;
    height: 30px; 
}

.btn_p65{
    background-color:rgb(190, 129, 129) ;
    width: 60px;
    height: 30px; 
}

.btn_alum{
    background-color: rgb(12, 67, 12);
    width: 60px;
    height: 30px;
}